@media (min-width:700px) {
    .mdl-card {
        min-width:100%;
        margin-left:2em;
        margin-right:2em;
        padding:2em;
    }
    img {
        width:600px;
        max-width:100%;
        height:auto;
    }
    
    .page-content {
        width:95%;
    }
}
.ressection {
    margin-top:3vh;
}

li {
    list-style:none;
}


.contact {
    width:90%;
}


